body{
  margin: 1.5em;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: black;
}


.left {
  list-style-type: none;
  font-size: 2rem;
  position: relative ;
  top: 200px;
  left: 50px;
  margin:20px;
}


.Books {
  list-style-type: none;
  position: relative;
  top: -30px;
  left: 100px;
}


.data-item{
  margin:10px;
}

.book-edits{
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  position: absolute;
  top: 400px;
  padding: 10px;
}

.issue-elements{
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  position: absolute;

  top: 450px;
  margin:10px;
}

.issue-item{
  margin: 10px;
  border: 5px;
  border-color: black;
  background-color: lightskyblue;
  padding: 10px;
}

.book-item{
  margin: 10px;
}
.hov:hover {
  background-color: skyblue;
}
.scro{
    overflow:scroll;
    height:250px;
    overflow-x: hidden;
}

#myInput {
  background-image: url('../static/searchicon.png'); /* Add a search icon to input */
  background-position: 7px 7px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  overflow: scroll;
  overflow-y: scroll;
  height: 25em;
  display: block;
  overflow-x: hidden;
  border-collapse: collapse; /* Collapse borders */
  width: 1000px; /* Full-width */
  border: 2px solid #ddd; /* Add a grey border */
  font-size: 16px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 10px;


  /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;

}

#myTable tr.header {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#myTable tr:hover{
  background-color: #f1f1f1
}
.myTable thead .header{
    position: sticky;
    top: 0;
    width: 1000px !important;
    z-index: 1; // any positive value, layer order is global
}

.nav-item{
  font-size: 16;
  position: sticky;
  top: 200px;
  z-index: 1;
}
#Add{
  position: relative;
  top: -410px;
  left: 800px;
}

#Delete{
  position: relative;
  top: -410px;
  left: 820px;
}

.container-fluid{
  position: relative;
  top: -50px;
}
.Add_books{
  position: relative;
  top: -25px;
  width: 120%;
  height: 500px;
}

#Add_books{
  height: 120%;
}
