body{
  margin: 1.5em;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: black;
}


.left {
  list-style-type: none;
  font-size: 2rem;
  position: relative ;
  top: 200px;
  left: 50px;
  margin:20px;
}


.right {
  list-style-type: none;
  position: relative ;
  top: -100px;
  left: 800px;
}


.data-item{
  margin:10px;
}

.book-edits{
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  position: absolute;
  top: 400px;
  padding: 10px;
}

.issue-elements{
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  position: absolute;

  top: 450px;
  margin:10px;
}

.issue-item{
  margin: 10px;
  border: 5px;
  border-color: black;
  background-color: lightskyblue;
  padding: 10px;
}

.book-item{
  margin: 10px;
}
.hov:hover {
  background-color: skyblue;
}
.scro{
    overflow:scroll;
    height:250px;
    overflow-x: hidden;
}
