<html lang="en">
  <head>
    <title>Library</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div class="container-fluid">
      <form action="{{ url_for('add') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
          <h3>Add Book</h3>
          <div class="col">
            {{ form.title(class="form-control") }}
          </div>
          <div class="col">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
      </form>
</div>
  </body>
