{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('addme') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <h3>Add member</h3>
      <div class="col">
        <p>Enter Member ID:</p>
        {{ form.mem_id(class="form-control") }}
      </div>
      <div class="col">
        <p>Enter Name:</p>
        {{ form.name(class="form-control") }}
      </div>
      <div class="col">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
