{% extends "base.html" %}

{% block main %}


    <div class="container-fluid" >
      <form action="{{ url_for('adds') }}" method="post">
        {{ form.csrf_token }}
        <p>Search for a Book, a Publisher or an Author...</p>
        <div class="row">
          <h3>Add Book</h3>
          <div class="col" >
            {{ form.title(class="form-control" ) }}
          </div>
          <div class="col">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
    {%if ret%}
    {%if books %}
    <div class="Add_books">

      <table id="myTable" class="Add_books">
        <thead  >
          <tr class="header">
            <th width="50%">Book name</th>
            <th >Author</th>
            <th >Publisher</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(books|length) %}
                  <tr class="hov">
                    <td >{{ books[i]}}</td>
                    <td >{{ authors[i]}}</td>
                    <td >{{ publishers[i]}}</td>
                    <td><a href="{{ url_for('add',b=books[i],a=authors[i],p=publishers[i]) }}" class="btn btn-danger">Add Book</a></td>
                  </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>


    {%else%}
    <h1 style="padding: 50px; padding-left:270px; color:grey">Not Found!</h1>
    {%endif%}
  {%endif%}
  <!--div class=".bg-modal">
    <div class="modal-content">
      <div class="close">
        +
      </div>
      <form class="" action="index.html" method="post">
        <input id="a122" type="text" name="" value="" placeholder="Enter quantity:">
        <a href="#" class="button">Submit</a>
      </form>

    </div>
  </div-->


{% endblock %}
