{% extends "base.html" %}

{% block main %}

    <div class="Books">
      <h2>Books</h2>
      <form class="search_book" action="#" method="POST">
        <p><input type = "text" id="myInput" onkeyup="myFunction()" placeholder="Search for a Book..."/></p>
      </form>

                <table id="myTable"  >

                    <tr class="header">
                      <th width="50%">Book name</th>
                      <th>Author</th>
                      <th>Quantity</th>
                    </tr>

                  {% for book in books %}
                          <tr class="hov" onclick="getIndex(this)" >
                            <td >{{ book.title }}</td>
                            <td >{{ book.author }}</td>
                            <td>{{ book.quantity }}</td>
                          </tr>
                  {% endfor %}
                </table>
                <p id="index"></p>
                <script>

      function selectedRow(){

          var index,
              table = document.getElementById("myTable");

          for(var i = 1; i < table.rows.length; i++)
          {
              table.rows[i].onclick = function()
              {
                   // remove the background from the previous selected row
                  if(typeof index !== "undefined"){
                     table.rows[index].classList.toggle("selected");
                  }
                  console.log(typeof index);
                  // get the selected row index
                  index = this.rowIndex;
                  // add class selected to the row
                  this.classList.toggle("selected");
                  console.log(typeof index);
               };
          }

      }
      selectedRow();
  </script>
                <script>

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

              </div>
              <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <button class="btn btn-outline-success" id="Add" type="button" onclick="location.href='{{ url_for('adds') }}'">Add Book</button>
                  <button class="btn btn-outline-success" id="Delete" type="button" onclick="location.href='{{ url_for('delete', book_n=id) }}'">Delete Book</button>

                </form>
                </nav>
                <nav class="navbar navbar-light bg-light">
                <form class="form-inline">


                  <button class="btn btn-outline-success" type="button" onclick="location.href='{{ url_for('isreturn', val='issue') }}'">Issue Book</button>
                  <button class="btn btn-outline-success" type="button" onclick="location.href='{{ url_for('isreturn', val='issue') }}'">Return book</button>
                </form>
              </nav>
    </div>
{% endblock %}
