{% extends "base.html" %}

{% block main %}

    <div class="left">
      <li class="data-item"><a href="{{ url_for('members') }}" class="nav-link">Members</a></li>
      <li class="data-item"><a href="{{ url_for('transactions') }}" class="nav-link">Transactions</a></li>
    </div>

    <div class="right">
      <h2>Books</h2>
      <form class="search_book" action="#" method="POST">
        <p>Find a book:</p>
        <p><input type = "text" name="bknm"/></p>
        <p><input type = "submit" value="Search"/></p>
      </form>
      <table class="fixedtable" border="1">
        <tbody>
          <tr>
            <td colspan="3">
              <div class="scro">
                <table id="table" >
                  <thead  >
                    <tr>
                      <th >Book name</th>
                      <th>quantity</th>
                      <th>options</th>
                    </tr>
                  </thead>
                  {% for book in books %}
                          <tr class="hov" >
                            <td onclick="gen(this)">
                              {{ book.title }}
                            </td>
                            <td>{{ book.quantity }}</td>
                            <td><a href="{{ url_for('delete', book_n=book.id) }}" class="btn btn-danger">Delete</a></td>
                          </tr>
                  {% endfor %}
                </table>

                <script>
                  var table = document.getElementById('table');
                  for(var i = 1; i < table.rows.length; i++)
                  {
                    table.rows[i].onclick = function()
                    {
                      //rIndex = this.rowIndex;
                      document.getElementById("fname").value = this.cells[0].innerHTML;
                    };
                  }

                </script>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="book-edits">
          <li class="book-item"><a href="#" id="fname" class="nav-link">Delete Book</a></li>
          <li class="book-item"><a href="{{ url_for('adds') }}" class="nav-link">Add Book</a></li>
      </div>
      <div class="issue-elements">
        <li class="issue-item"><a href="{{ url_for('isreturn', val='issue') }}" class="nav-link">Issue Book</a></li>
        <li class="issue-item"><a href="{{ url_for('isreturn', val='return') }}" class="nav-link">Return book</a></li>
      </div>
    </div>
{% endblock %}
