{% extends "base.html" %}

{% block main %}

    <div class="List">
      <h2>Books</h2>
      <form class="search_book" action="#" method="POST">
        <p><input type = "text" id="myInput" onkeyup="myFunction()" placeholder="Search for a Book or an Author..."/></p>
      </form>
      {%set id= id|int%}

                <table id="myTable"  >

                    <tr class="header">
                      <th width="50%">Book name</th>
                      <th>Author</th>
                      <th>Quantity</th>
                    </tr>
                  {% for book in books %}
                    {% if book.id==id %}

                    <tr class="selected"  >

                      <td onclick="location.href='{{ url_for('home', a=book.id) }}'"> {{ book.title }}</td>
                      <td onclick="location.href='{{ url_for('home', a=book.id) }}'">{{ book.author }}</td>
                      <td onclick="location.href='{{ url_for('home', a=book.id) }}'">{{ book.quantity }}</td>
                    </tr>
                    {% else %}
                          <tr class="hov"  >

                            <td onclick="location.href='{{ url_for('home', a=book.id) }}'" >{{ book.title }}</td>
                            <td onclick="location.href='{{ url_for('home', a=book.id) }}'">{{ book.author }}</td>
                            <td onclick="location.href='{{ url_for('home', a=book.id) }}'">{{ book.quantity }}</td>
                          </tr>
                    {% endif %}
                  {% endfor %}
                </table>

                <script>

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    tp = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.innerText + tp.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }

  }
}
</script>

              </div>
              <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <button class="btn btn-outline-success" id="Add" type="button" onclick="location.href='{{ url_for('adds') }}'">Add Book</button>
                  <button class="btn btn-outline-success" id="Delete" type="button" onclick="location.href='{{ url_for('delete', book_n=id) }}'">Delete Book</button>

                </form>
                </nav>
                <nav class="navbar navbar-light bg-light">
                <form class="form-inline">


                  <button class="btn btn-outline-success" type="button" onclick="location.href='{{ url_for('isreturn', val='issue', bookid=id) }}'">Issue Book</button>
                  <button class="btn btn-outline-success" type="button" onclick="location.href='{{ url_for('isreturn', val='return', bookid=id) }}'">Return book</button>
                </form>
              </nav>
    </div>
{% endblock %}
