{% extends "base.html" %}

{% block main %}
  <h1>{{transaction}}</h1>
  <h1>{{book.title}}</h1>
  <h1>{{member.name_m}}</h1>
  <form action="{{ url_for('isreturn', val=transaction) }}" method="POST">
    {{ form.csrf_token }}

  <div class="col">
    <p>Enter Member ID:</p>
    {{ form.mem_id(class="form-control" ,value=member.memid_m, autoComplete="on" ,list="Membersid") }}
  </div>

  <div class="col">
  <p>Enter Name:</p>
    {{ form.name(class="form-control" ,value=member.name_m, autoComplete="on" ,list="Members") }}
  </div>

  <div class="col">
    <p>Enter Book Name:</p>
    {{ form.book(class="form-control" ,value=book.title, autoComplete="on" ,list="Books") }}
  </div>
  {% if transaction=='issue'%}
    <div class="col">
      <p>Issue Date:  {{date}}</p>
    </div>

    <div class="col">
      <p>Enter Due Date: {{ form.rdate(class='datepicker' , format='dd-mm-yyyy') }} {{form.hidden_tag()}}</p>
    </div>

    <div class="col">
      <p>Enter Rental:</p>
      {{ form.rent() }}
    </div>
  {% elif transaction=='return'%}
    <div class="col">
      <p>Issue Date:  {{date}}</p>
    </div>

    <div class="col">
      <p>Enter Due Date:  {{ form.rdate(class='datepicker') }} {{form.hidden_tag()}}</p>
    </div>

    <div class="col">
      <p>Enter Rental:</p>
      {{ form.rent() }}
    </div>


    <div class="col">
      <p>Return Date:  {{date}}</p>
    </div>
  {%endif%}
  <div class="col">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
  <div>
      <datalist id="Members">
        {%for b in members%}
          <option>{{b.name_m}}</option>
          {%endfor%}
      </datalist>
      <datalist id="Membersid">
        {%for b in members%}
          <option>{{b.memid_m}}</option>
          {%endfor%}
      </datalist>
      <datalist id="Books">
        {%for b in books%}
          <option>{{b.title}}</option>
          {%endfor%}
      </datalist>
  </div>
{% endblock %}
