{% extends "base.html" %}

{% block main %}

    <div class="List">
      <table id="myTable"  >

          <tr class="header">

                      <th >Name</th>
                      <th>ID</th>
                      <th width="30%">Book</th>
                      <th>Type</th>
                      <th>Issue Date</th>
                      <th>Options</th>
                    </tr>
                  {% for transaction in transactions1 %}
                          <tr class="hov" >
                            <td onclick="gen(this)">
                              {{ transaction.name_t }}
                            </td>
                            <td>{{ transaction.memid_t }}</td>
                            <td>{{ transaction.title_t }}</td>
                            <td>{{ transaction.issue_t }}</td>
                            <td>{{ transaction.type_t }}</td>
                            <td><a href="{{ url_for('delete', book_n=transaction.id_t) }}" class="btn btn-danger">Delete</a></td>
                          </tr>
                  {% endfor %}
                </table>

                <script>
                  var table = document.getElementById('table');
                  for(var i = 1; i < table.rows.length; i++)
                  {
                    table.rows[i].onclick = function()
                    {
                      //rIndex = this.rowIndex;
                      document.getElementById("fname").value = this.cells[0].innerHTML;
                    };
                  }

                </script>
              </div>

    </div>
{% endblock %}
