{% extends "base.html" %}

{% block main %}

    <div class="right">
      <table class="fixedtable" border="1">
        <tbody>
          <tr>
            <td colspan="3">
              <div class="scro">
                <table id="table" >
                  <thead  >
                    <tr>
                      <th >Name</th>
                      <th>ID</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  {% for transaction in transactions1 %}
                          <tr class="hov" >
                            <td onclick="gen(this)">
                              {{ transaction.name_t }}
                            </td>
                            <td>{{ transaction.memid_t }}</td>
                            <td><a href="{{ url_for('delete', book_n=transaction.id_t) }}" class="btn btn-danger">Delete</a></td>
                          </tr>
                  {% endfor %}
                </table>

                <script>
                  var table = document.getElementById('table');
                  for(var i = 1; i < table.rows.length; i++)
                  {
                    table.rows[i].onclick = function()
                    {
                      //rIndex = this.rowIndex;
                      document.getElementById("fname").value = this.cells[0].innerHTML;
                    };
                  }

                </script>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="book-edits">
          <li class="book-item"><a href="#" id="fname" class="nav-link">Delete Member</a></li>
          <li class="book-item"><a href="#" class="nav-link">Add Member</a></li>
      </div>
      <div class="issue-elements">
        <li class="issue-item"><a href="#" class="nav-link">Issue Book</a></li>
        <li class="issue-item"><a href="#" class="nav-link">Return book</a></li>
      </div>
    </div>
{% endblock %}
